body {
    margin: 0;
    padding: 0;
    background-color: #E7E9EB;
    height: 100vh;
    font: 17px "Source Sans Pro", sans-serif
}
#login .container #login-row #login-column #login-box {
    margin-top: 30px;
    max-width: 600px;
    height: 520px;
    border: 1px solid #9c9c9c;
    background-color: #282A35;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login
.container
#login-row
#login-column
#login-box
#login-form
#register-link {
    margin-top: -85px;
}

img{
    border-radius: 6px;
}
button{
    background-color: #04AA6D;
    border-radius: 10px;
}